unless _.isEmpty(resume.basics.summary)
  .detail#about
    .info
      //- h4.title.text-uppercase About

      ul.list-unstyled
        //- hr.clear-margin
        li.card.card-nested.clearfix
          .content.summary(itemprop="description")
            | !{resume.basics.summary}
