unless _.isEmpty(resume.projects)
    .detail#projects
        .icon
            i.fs-lg.icon-code
            span.mobile-title Projects

        .info
            h4.title.text-uppercase.has-note Projects
            .header-note &nbsp;&nbsp; (available in GitHub profile; linked below)
            hr.clear-margin

            .content
                ul.list-unstyled
                    - each project in resume.projects
                        li.card.card-nested.no-margin-bottom
                            .content
                                p.clear-margin(itemprop="project")
                                    if project.website
                                        |<strong>
                                        a(href=project.website, target="_blank") #{project.title}
                                        |</strong>&nbsp;
                                    else
                                        strong= project.title + " "
                                    |#{project.summary}
