unless _.isEmpty(resume.skills)
  .detail#skills
    .info
      h4.title.text-uppercase Skills
      //- hr.clear-margin

      ul.list-unstyled
        - each skill in resume.skills
          .content
            if skill.display_progress_bar
              .skill-level(data-toggle="tooltip", title=skill.level, data-placement="left")
                .skill-progress(class=skill.skill_class)

            .skill-info
              strong= skill.name
              unless _.isEmpty(skill.keywords)
                span.text-muted  - #{skill.keywords.join(', ')}
